* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hotpink;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
}

.card {
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: beige;
}

.card * {
    width: 100%;
}

.image-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index-span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 50px;
    aspect-ratio: 1;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1rem;
    margin: auto;
}

.card-image {
    width: 50%;
    border-radius: 50%;
    padding: 1rem;

}

.card-info {
    text-align: center;
}

.table {
    border: 1px solid black;
    width: 100%;

}

.table-cell {
    border: 1px solid black;
    width: 50%;
    padding 1rem;
}

/* .d-none {
    display: none;

} */